{:deps
 {alandipert/intension {:mvn/version "1.1.1"}
  datascript/datascript {:mvn/version "0.18.11"}
  me.raynes/fs {:mvn/version "1.4.6"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/spec.alpha {:mvn/version "0.2.187"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  instaparse/instaparse {:mvn/version "1.4.10"}}
 :paths
 ["src" "resources"]
 :aliases
 {:test
  {:extra-paths ["test" "resources"]
   :extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :pack
  {:extra-deps
   {pack/pack.alpha
    {:git/url "https://github.com/juxt/pack.alpha.git"
     :sha "c70740ffc10805f34836da2160fa1899601fac02"}}
   :main-opts ["-m"]}}}
