{:deps
 {com.taoensso/timbre {:mvn/version "4.10.0"}
  tegere {:mvn/version "0.1.5-SNAPSHOT"}}
 :aliases
 {:dev
  {:extra-deps
   {nrepl/nrepl {:mvn/version "0.6.0"}
    cider/cider-nrepl {:mvn/version "0.22.0"}}
   :main-opts
   ["-m" "nrepl.cmdline"
    "--middleware" "[cider.nrepl/cider-middleware]"
    "--port" "8999"
    "--bind" "0.0.0.0"]}
  :depstar
  {:extra-deps
   {seancorfield/depstar {:mvn/version "1.0.94"}}}}}
