{:deps
 {com.taoensso/timbre {:mvn/version "4.10.0"}
  tegere
  {:git/url "https://github.com/jrwdunham/tegere"
   :sha "35893ba7e72a40d424a2f41ab20a88c3bcb67ed5"}}
 :aliases
 {:dev
  {:extra-deps
   {nrepl/nrepl {:mvn/version "0.6.0"}
    cider/cider-nrepl {:mvn/version "0.22.0"}}
   :main-opts
   ["-m" "nrepl.cmdline"
    "--middleware" "[cider.nrepl/cider-middleware]"
    "--port" "8999"
    "--bind" "0.0.0.0"]}}}
